<nav class="first-nav">
    <a routerLink="employees-list" routerLinkActive="active" >All Employees</a>
    <a routerLink="add-employee" routerLinkActive="active">Add Employee</a>
    <a routerLink="branch-details" routerLinkActive="active">All Branches</a>
    <a routerLink="add-branch" routerLinkActive="active">Add Branch</a>
</nav>
<hr>

<nav class="second-nav">
    <a routerLink="employees-list" routerLinkActive="active">All Employees</a>
    <a routerLink="add-employee" routerLinkActive="active">Add Employee</a>
    <a routerLink="branch-details" routerLinkActive="active">All Branches</a>
    <a routerLink="add-branch" routerLinkActive="active">Add Branch</a>
</nav>

<div class="content">
    <router-outlet></router-outlet>
</div>
